.phpunit.result.cache
vendor
tests/test-environments/**/playgrounds/**
tests/test-environments/commands/init/empty/.manuscript
.idea
build
/manuscript-*.phar
scratchpad/packages
scratchpad/playgrounds
scratchpad/.manuscript